body {
  background-color: rgb(22, 22, 22);
}

p {
  font-size: 1.3em;
}

.App {
  text-align: center;
  margin-top: 20vh;
  height: 100%;
}

#card, #thanks {
  width: 400px;
  background-color: rgb(44, 44, 44);
  height: 400px;
  margin: auto;
  position: relative;
  display: block;
  border-radius: 20px;
}

.button {
  background-color: gray;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: white;
  margin: 10px;
  display: inline-block;
  border: none;
}

.button:hover {
  background-color: rgb(217, 22, 22);
}

.button:active {
  background-color: rgb(150, 5, 5);
}

.submit button {
  background-color: orangered;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  color: white;
  font-size: 1.3em;
  border: none;
  margin-top: 20px;
}

.submit button:hover {
  background: rgb(204, 67, 3);
}

#cardContents {
  padding-top: 65px;
  color: rgb(242, 242, 242);
}

#thanks {
  z-index: 3;
  position: fixed;
  margin-top: -62vh;
  height: 600px;
}

#thanks h1 {
  font-size: 1.8em;
  padding: 40px;
}

img {
  padding-top: 110px;
  padding-bottom: 40px;
  height: 140px;
  width: 130px;
}

.rating {
  padding: 10px; 
  background:rgb(30, 30, 30);
  border-radius: 40px;
  width: 300px;
  margin: auto;
}

.active {
  background-color: red;
}


